# Compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.venv
*.virtualenv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Sensitive information files
.env
config.json
credentials/

# Data files
# Ignore specific temporary or backup files in the data folder
data/*.tmp  # Ignore temporary files
data/*.bak  # Ignore backup files

# Ignore all files in the data folder
data/

# Output files
*.png
*.svg
*.pdf

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp